{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Cheltenham{% endblock %}

{% block bootstrap4_before_content %}

{% endblock %}

{% block content %}
<div id="left-map">here</div>
<div id="right-map">here</div>

<script>
    function initMap() {
      // The location of Cheltenham
      var cheltenham = {lat: 51.8993855, lng: -2.0782533000000285};
      // The map, centered at Cheltenham
      var map = new google.maps.Map(
          document.getElementById('left-map'), {zoom: 11, center: cheltenham});
      // The marker, positioned at Cheltenham
      var marker = new google.maps.Marker({position: cheltenham, map: map});


      fetch('static/data/data.json').then(function(response) {
          response.json().then(function(result) {
            let locations = result.locations.map((val) => {
              return new google.maps.LatLng(val.latitudeE7 * (10 ** -7), val.longitudeE7 * (10 ** -7));
            })
            heatmap = new google.maps.visualization.HeatmapLayer({
              data: locations,
              map: map,
              maxIntensity: maxI,
              radius: rad,
              opacity: opac
            });
          });
        });
    }
</script>
{% endblock %}

