{% extends 'bootstrap4/bootstrap4.html' %}
{# Load the tag library #}
{% load bootstrap4 %}

{% bootstrap_javascript %}

{% block bootstrap4_before_content %}
<p>Menu</p>
{% endblock %}

{% block bootstrap4_content %}
    <div class="container">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        <h1>{% block title %}(no title){% endblock %}</h1>

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
